<!doctype html>
<html lang="en">
  <head>
    <title>RBD Digiatlização</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
          <a class="navbar-brand" href="#">RBD Digiatlização</a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="#"> Página Inicial <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Orçamento</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfólio</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="#">Digiatlização de Fotos</a>
                          <a class="dropdown-item" href="#">Digiatlização de Microfilme</a>
                          <a class="dropdown-item" href="#">Digiatlização de Livros</a>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>

      <div class="container-fluid">
        <div class="row align-items-center my-5">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-0 mb-lg-0" src="./assets/img/logo.jpg" width="300px" height="200px" alt="RBD Digitalização Logomarca">
              </div>
              <div class="col-lg-5" >
                  <h1 class="font-weight-light">RBD Digitalização</h1>
                  <p>Trabalhamos de mãos dadas com os aparatos tecnológicos, e acreditamos que somente as tecnologias não são capazes de garantir a qualidade, é preciso conhecer os objetivos de nossos clientes, para assim fornecer os melhores serviços.</p>
                  <a class="btn btn-primary" href="#">Sobre Nós</a>
              </div>
        </div>
      </div>
      
    <div class="container">
    <div class="card text-center">
 
      <div class="card-body">
        <h4 class="card-title">Conheça nossos serviços!</h4>
      </div>
    </div>
    </div>

    <div class="container">
      <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Digitalização de Fotos</h4>
            <img src="./assets/img/fotoantiga.jpg" width="300px" height="170px" alt="Cidade do Recife">
            <p class="card-text">Digitalização de 100 fotos com limpeza, restauro e acondicionamento.</p>
          <a name="" id="" class="btn btn-info " href="#" role="button">Contratar!</a>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Digitalização de Microfilme</h4>
              <img src="./assets/img/microfilme.jpg" width="auto" height="170px" alt="Microfilme">
              <p class="card-text">Digitalização de 20 rolos de microfilme com higienização, restauro e acondicionamento.</p>
            <a name="" id="" class="btn btn-info" href="#" role="button">Contratar!</a>
            </div>
          </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Digitalização de Livros</h4>
            <img src="./assets/img/livroantigo.jpg" alt="livro">
            <p class="card-text">Digitalização de 20 livros com até 400 folhas, com higienização, restauro e acondicionamento.</p>         
            <a name="Contratarserviço" id="" class="btn btn-info"  href="#" role="button">Contratar!</a>
          </div>
        </div>
      </div>
    </div>
  
    
    <footer class="pt-4 pt-md-5 border-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="assets/img/logonav.png" alt="" width="240px" height="auto">
              <small class="d-block mb-3 text-muted">&copy; Byanca Calixto 2019 </small>
            </div>
            <div class="col-6 col-md">
              <h5>Estrutura</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Equipamentos</a></li>
                <li><a class="text-muted" href="#">Tecnologia</a></li>
                <li><a class="text-muted" href="#">Treinamento</a></li>
                <li><a class="text-muted" href="#">Serviços Adicionais</a></li>
                <li><a class="text-muted" href="#">Canais de Distribuição</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Sobre</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Idealizadores</a></li>
                <li><a class="text-muted" href="#">Endereço</a></li>
                <li><a class="text-muted" href="#">Política de Segurança</a></li>
                <li><a class="text-muted" href="#">Termos e Condições</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>